<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--include pega o valor dentro da tag-->

<head th:include="index :: head">
	<meta charset="utf-8">
</head>

<body class="app">
	<!--replace troca a tag inteira, usa-lo quando tem informações na tag ex. class-->
	<header th:replace="index :: header"></header>
	<div class="app-wrapper">
		<div class="app-content pt-3 p-md-3 p-lg-4">
			<div class="container-xl">
				<h1 class="app-page-title">Cadastro de CNH</h1>

				<hr class="mb-4">
				<div class="row g-4 settings-section">
					<div class="col-12 col-md-4">
						<h3 class="section-title">Geral</h3>
						<div class="section-intro">Informações das CNH's.</div>
					</div>
					<div class="col-12 col-md-8">
						<div class="app-card app-card-settings shadow-sm p-4">

							<!-- Alerta -->
							<div th:if="${not #strings.isEmpty(erros)}"
								class="app-card alert alert-dismissible shadow-sm mb-4 border-left-decoration"
								role="alert">
								<div class="inner">
									<div class="app-card-body p-3 p-lg-4">
										<h3 class="mb-3">Alerta!</h3>
										<div th:each="erro : ${erros}">
											<div class="row gx-5 gy-3">
												<div class="col-12 col-lg-9">
													<div><span th:text="${erro.getDefaultMessage()}"></span></div>
												</div>
											</div>
										</div>
										<button type="button" class="btn-close" data-bs-dismiss="alert"
											aria-label="Close"></button>
									</div>
								</div>
							</div>

							<a href="/cnh/lista"><button class="btn btn-danger">Voltar</button></a>
							<!--Formulario-->
							<div class="app-card-body">
								<form class="settings-form" action="salvar" method="post">
									<div class="mb-3">
										<label for="nome" class="col-sm-2 col-form-label">Nome</label>
										<input type="text" class="form-start" id="nome" name="nome"
											th:value="${cnh.nome}" required>
									</div>
									<div class="mb-3">
										<label for="cpf" class="col-sm-2 col-form-label">CPF</label>
										<input type="text" class="text-end" id="cpf" name="cpf"
											th:value="${cnh.cpf}" required>
									</div>
									<div class="mb-3">
										<label for="numRegistro" class="col-sm-2 col-form-label">Numero de Registro</label>
										<input type="text" class="text-end" id="numRegistro" name="numRegistro"
											th:value="${cnh.numRegistro}" required>
									</div>
									<div class="mb-3">
										<label for="telefone" class="col-sm-2 col-form-label">Telefone</label>
										<input type="text" class="text-end" id="telefone" name="telefone"
											th:value="${cnh.telefone}" required>
									</div>
									<div class="mb-3">
										<label for="setting-input-3" class="col-sm-2 col-form-label">Data de Vencimento</label>
										<input type="date" class="text-end" id="dataVencimento" name="dataVencimento"
											th:value="${#temporals.format(cnh.dataVencimento, 'yyyy-MM-dd')}" required>
									</div>
									<input type="hidden" id="id" name="id" th:value="${cnh.id}"
										th:if="${cnh != null}" />
										<label for="salvar" class="col-sm-2 col-form-label"></label>
									<button type="submit" class="btn app-btn-primary">Salvar</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer th:replace="index :: footer"></footer>
	</div>
	<div th:include="index :: scripts"></div>
</body>

</html>