<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
</head>
<body>
			<div class="container-xl">
				<h1 style="text-align:center;">Lista de UTR</h1>

		</div>
			
										<table width="100%" border="1px" style="border-color:black">
										
										<thead>
											<tr>
												<th>ID</th>
												<th>UTR</th>
												<th>Taxa de Renovação</th>
												
											</tr>
										</thead>
										<tbody>
											<tr th:each="d : ${detran}">
												<td th:text="${d.id}"></td>
												<td th:text="${d.nome}"></td>
												<td th:text="${d.taxaDetran}"></td>
												
											</tr>
										</tbody>
									</table>

</body>

<script type="text/javascript">
	window.print();
</script>
</html>